[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "==20.8b1"
django-rest-framework = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
black = "==20.8b1"

[requires]
python_version = "3.8"
